:root {
/* ---colores--- */
    --colorAmarillo: #EAC926;
    --colorAzul: #03264C;
    --colorCeleste: #1259c3;
    --colorGrisOscuro: #666;
    --colorGrisClaro: #ebebeb;
    --colorVerde: #39b54a;
    --colorBordeGris: #ebebeb;
/*--- tamaño de letras--- */
    --fontSizeCuerposDeTexto: 12px;
    --fontSizeTitulares: 24px;
    --fontSizePrecios: 18px;
    --fontSizeDescuentos: 16px;
    --fontSizeDescripciones: 16px
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
}
body {
    font-family: 'Roboto';
    background-color: var(--colorGrisClaro);

}